<div id="wrapper">
  <h1 data-cy="header-products-test">Products</h1>
  <div id="content" data-cy="products-list-test">
    <div
      class="product-item"
      data-cy="products-product-item"
      *ngFor="let product of productsList"
    >
      <div class="product-wrapper">
        <div class="product-info-wrapper">
          <span data-cy="products-product-item-title">{{ product.title }}</span>
          <span data-cy="products-product-item-price"
            >Price: {{ product.price }} DKK</span
          >
        </div>
        <div></div>
        <img
          class="product-image"
          [src]="product.image"
          alt="Product picture"
          data-cy="products-product-item-image"
        />
      </div>
      <hr style="width: 90%" />
      <span
        class="product-description"
        data-cy="products-product-item-description"
        >{{ product.description }}</span
      >
      <button
        class="add-to-basket-btn"
        (click)="addToBasket(product)"
        data-cy="products-product-item-add-to-basket-btn"
      >
        <img
          src="/assets/icons/cart-plus-solid.svg"
          class="add-to-basket-btn-icon"
          data-cy="products-product-item-add-to-basket-icon"
        />
        <span>Add to basket</span>
      </button>
    </div>
  </div>
</div>
