<nav>
  <a id="logo" href="https://github.com/Kwandes/teststore">TESTSTORE</a>
  <section id="nav-buttons">
    <button
      class="products-btn nav-btn"
      [ngClass]="currentUrl === '/products' ? 'current-page' : ''"
      routerLink="products"
    >
      Products
    </button>
    <button
      class="checkout-btn nav-btn"
      [ngClass]="currentUrl === '/checkout' ? 'current-page' : ''"
      routerLink="checkout"
    >
      Checkout
    </button>
  </section>
</nav>
<hr />
<router-outlet></router-outlet>
